:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  font-family: "Inter", sans-serif;
}
/*I used grid to help me with auto height resizing*/
.customcontainer {
  overflow: hidden;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

main {
  background: white;
}
.section2 {
  background: white;
}
.section3 {
  background: white;
}
.section4 {
  background: white;

  color: black;
}

.section5 {
  background: white;
}
.section6 {
  background: white;
}
.section7 {
  background: white;
}

#sidebar {
  background: white;
  grid-area: sidebar;
  border: 2px solid black;
}

#content1 {
  background: white;
  grid-area: content1;
  border: 2px solid black;
}

#content2 {
  background: white;
  grid-area: content2;
  padding-top: var(--main-padding);
  border: 2px solid black;
}

#content3 {
  background: white;
  grid-area: content3;
  padding-top: var(--main-padding);
  border: 2px solid black;
}

footer {
  background: white;
}

.aa {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/

  .customcontainer {
    overflow-x: hidden;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .customcontainer {
    overflow-x: hidden;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/

  .customcontainer {
    overflow-x: hidden;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .customcontainer {
    overflow-x: hidden;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }
}
