.vic3 {
  color: black;
  font-family: "times new roman", sans-serif;
  font-size: 50px;
}
/* generate btn-primary code */
.btn-primary {
  color: #fff;
  background-color: black !important;
  border-color: black;
}

.vic4 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.vic5 {
  display: flex;
  flex-direction: column;
  background-color: #fcfbf4;
  background-position: center;
}

.containerr {
  display: flex;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.modalClass {
  text-align: center;
  margin-top: 100px;
}
/* generate a flexible container */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
}
